.playlist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 15px;
    row-gap: 15px;
}

/*same as songs*/
.playlist-grid-item{
    max-height: 150px;
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    color: darkblue;
    font-size: 20px;
    align-items: center;
    display: flex;
    text-decoration: none !important;
    transition-duration: 0.5s;
    position: relative;
    overflow: hidden;
}

.playlist-grid-item:hover {
    background: -webkit-linear-gradient(left, #7F7FD5, #86A8E7, rgb(145, 201, 234));
    color: white;
    border-radius: 4px;
}

/*same as songs*/
/*todo normal path*/
#playlist-menu-btn {
    background: url("../img/songMenu/songMenuDisplayBtn.png") no-repeat;
    display: none;
    position: absolute;
    height: 46px;
    width: 46px;
    top: 0px;
    right: 0px;
    z-index: 11;
}

#playlist-settings-menu-wrapper {
    display: none;
    background: #fff1e3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: black;
    transition-duration: 0.5s;
}

#playlist-settings-menu-wrapper:hover {
    background: #ac4d8f;
    color: white;
}

#playlist-settings-menu {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
}

#playlist-settings-menu p {
    margin-top: unset;
    margin-bottom: unset;
}