.playlist-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 15px;
    row-gap: 15px;
}

/*same as songs*/
.playlist-menu-container{
    max-height: 150px;
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 15px;
    vertical-align: middle;
    justify-content: center;
    color: darkblue;
    font-size: 20px;
    align-items: center;
    display: flex;
    text-decoration: none !important;
    transition-duration: 0.5s;
    position: relative;
}

.playlist-menu-container:hover {
    background: -webkit-linear-gradient(left, #7F7FD5, #86A8E7, rgb(145, 201, 234));
    color: white;
    border-radius: 4px;
}

/*same as songs*/
/*todo normal path*/
#playlist-menu-btn {
    background: url("../img/songMenu/songMenuDisplayBtn.png") no-repeat;
    display: none;
    position: absolute;
    height: 46px;
    width: 46px;
    top: 0px;
    right: 0px;
    z-index: 11;
}

/*same as songs*/
#playlists-menu {
    border-radius: 12px 12px 12px 12px;
    min-width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 10;
    background: #fff1e3;
    height: 100%;
    transition-duration: 0.5s;
}

#playlists-menu:hover {
    /*font-weight: bold;*/
    background: #ac4d8f;
}

#playlist-menu-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.playlist-menu-item {
    position: relative;
    /*background: inherit;*/
    color: black;
    padding: 10px;
    transition-duration: 0.5s;
    height: 100%;
}