#stickydiv {
    margin-top: 3px;
    width: 100%;
    min-width: 508px;
    height: 54px;
    border: 1px solid black;
    display: flex;
}

.btnWrapper {
    float: left;
    height: 46px;
    width: 46px;
    transition-duration: 0.3s;
    border: 3px solid #7FDBFF;
    border-radius: 4px;
}

.leftSideBtns {
    min-width: 150px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.rightSideBtns {
    min-width: 150px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

#scrubber {
    float: left;
    height: 20px;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, #C9D6FF, rgb(201, 224, 255));
    width: 100%;
    margin-top: 3px;
}

#scrubber #progressBar {
    background: -webkit-linear-gradient(left, #2a2c97, #4155c5, #2a2c97);
    width: 0px;
    height: inherit;
    border-radius: 4px;
}

.songInfoContainer {
    flex-grow: 1;
    min-width: 208px;
    padding: 0px 5px;
}

.songInfoContainer .titlePlusTime {
    display: flex;
    margin-top: 2px;
}

#songTitle {
    flex-grow: 1;
    overflow: hidden;
}

#songTime {
    /*float: right;*/
}
